@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed&display=swap");
h1,
h2 {
  font-family: "Anton", sans-serif;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
}

/* body */
.container-fluid {
  padding: 0px;
  overflow-x: hidden;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* navegador-index */
.items {
  background-color: black;
  margin: 0px;
  padding: 1rem;
}

.botonNavbar {
  margin: 5px;
  background-color: rgba(56, 56, 56, 0.753);
}

.colornegro {
  padding-top: 0;
  padding-bottom: 0;
}

.video {
  z-index: 1;
  background-position: center;
  width: 100%;
  position: relative;
  padding: 0;
}

.valorant {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* index parrafo */
.parrafoprincipal {
  padding-left: 30px;
}

.tituloInicio {
  padding-left: 3rem;
  padding-right: 3rem;
}

.inicioLorem {
  padding: 3rem;
}

.imageninicio {
  padding-right: 30px;
}

/* boton formulario */
.btn-primary {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  background-color: white;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn-primary:hover {
  background-color: rgba(253, 56, 56, 0.582);
  box-shadow: 0px 15px 20px rgba(255, 0, 0, 0.521);
  color: white;
  transform: translateY(-7px);
}

b.btn-primary:active {
  transform: translateY(-1px);
}

/*  FOOTER  */
footer {
  width: 100%;
  padding: 1rem 0px;
  background-color: black;
  background-size: cover;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
}

.box-footer {
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  margin: -5rem auto;
}
.box-footer h2 {
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
}
.box-footer a {
  color: white;
  font-weight: 300;
  margin: auto 10px;
  text-decoration: none;
}
.box-footer a:hover {
  opacity: 0.8;
  color: rgba(253, 56, 56, 0.582);
}

.copyright {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}
.copyright h3 {
  color: white;
}

/*  HEADER  */
a {
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  color: white;
  font-size: x-large;
  transition: all 0.2s ease;
}
a:hover {
  color: rgba(255, 0, 0, 0.521);
}

.achicar {
  width: 50%;
  height: auto;
  padding: 3rem;
  align-items: center;
}

.iframe {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 576px) {
  .iframe {
    width: 90%;
    height: 250px;
  }
}
.fotoAgente {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  border-radius: 2%;
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease;
  filter: grayscale(80%);
}
.fotoAgente:hover {
  transform: scale(1.03);
  filter: grayscale(0%);
  box-shadow: 3px 3px 5px 3px gray;
}

@media (max-width: 767px) {
  .fotoAgente {
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
