.video {
    z-index: -1;
    background-position: center;
    height: 60vh;
    width: 100%;
    position: relative;
}

.btn-primary {
    width: 70px;
    height: 40px;
    color: black;
    background: linear-gradient(to right, #fdc830, #f37335);
    border: 0;
    border-radius: 5px;
    transition: all 0.5s;
}

.btn-primary:hover {
    width: 75px;
    height: 45px;
    color: black;
}

